body {
  background-color: rgb(60, 61, 65);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: xxx-large;
  margin: 10px;
  text-align: center;
  color: white;
}

p {
  font-size: larger;
  margin: 5px 15px;
  color: aliceblue;
}

.top {
  background-color: rgb(37, 38, 41);
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid white;
}

table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  color: white;
}

th, td {
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  font-size: large;
  background-color: rgb(37, 38, 41);
}

td.highlight {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}
